terminator/
update-notifier/
ibus/
google-chrome/
gtk-3.0/
htop/
nautilus/
neofetch/
pulse/
dconf/
discord/
evolution/
.git/
gnome-initial-setupd-done
gnome-initial-setup-done
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
Code/
teamviewer/
google-chrome/

